DEBUG=True
SECRET_KEY=django-insecure-rivyou-secret-key-for-development-12345
ALLOWED_HOSTS=*
DATABASE_URL=postgres://rivyou:Vish@1724@db:5432/rivyou
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:5173
JWT_SECRET_KEY=django-insecure-rivyou-secret-key-for-development-12345
